#!/bin/bash

# Please set your Mastodon API token
export MASTODON_TOKEN=xxxxxxxxx

[[ -d ~/.rbenv  ]] && \
  export PATH=${HOME}/.rbenv/bin:${PATH} && \
  eval "$(rbenv init -)"

cd ${HOME}/src/ywindish/kattyaina_today

ruby ./kattyaina_today.rb
